@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;700&display=swap');


*{
    font-family: 'Lobster Two', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;
}

body{
    max-width: 80%;
    margin: 0 auto;
    color: #000;
}

a{
    text-decoration: none;
    color: inherit;
}

/*i added .text as div for other text-like content*/
.text{
    line-height: 1.5;
    color: grey;
    font-size: 2vw;
    font-weight: 400;
    word-spacing: 1.2px;
}

li{
    list-style: none;
}

.navbar {
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    overflow: hidden;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    background-color: #FF826E;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 3rem;
}

.nav-link{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-link:hover{
    color: rgba(37, 7, 7, 0.55);
}

.nav-logo {
    font-size: 3vw;
    font-weight: 700;
}

.intro{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.intro-img{
    max-width: 70%;
    transition: 1s ease;
}

.intro-img:hover{
    transform: rotateY(180deg);
}

.intro-left h1{
    font-size: 6vw;
    max-width: 80%;
}

.intro-left P{
    max-width: 75%;
    padding: 20px 0;
    font-size: 20px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 10px;
    font-size: 20px;
    font-weight: 700;
	cursor: pointer;
	outline: inherit;
}

.btn1 {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-right: 20px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn1:hover,
.btn1:active {
  outline: 0;
}

.btn1:hover {
  background-color: transparent;
  cursor: pointer;
}

.btn1:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in-out;
  width: 100%;
  z-index: -1;
}

.btn1:hover:before {
  background-color: #69D6F4;
}

.btn2:hover i,.nav-link-chat:hover i{
    display: inline-flex;
    color: grey;
    transform: rotate(180deg);
}

.project-header:hover i,.btn2:hover i,.contact-info p:hover i,.msg:hover i{
    display: inline-flex;
    color: #486581;
    transform: rotate(90deg);
}

.btn2 i,.nav-link i,.project-header i,.contact-info p i,.msg i{
    transition: 0.5s ease;
    -webkit-text-stroke: 2px white;
}

.skillset{
    display: flex;
    width: 100%;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
    background: #486581;
    border-radius: 0px;
    padding: 20px;
}

.skillset p span{
    text-transform: capitalize;
    color: #69D6F4;
    cursor: pointer;
}

.skill-icons{
    display: grid;
    min-width: 50%;
    grid-template-columns: 1fr 1fr 1fr;
}

.skillset-right{
    max-width: 50%;
    padding-left: 5px;
}

.focus-in-contract-bck.active {
	-webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  


.skillset-right h2{
    font-size: 50px;
    text-align: center;
    align-items: center;
    color: #f5f5f5;
    padding: 10px 0px;
    text-transform: capitalize;
    transition: transform 0.5s ease;
}

.skillset-right p{
    line-height: 1.5;
    color: white;
    font-size: 2vw;
    font-weight: 400;
    word-spacing: 1.2px;
}

.skill-icons .odd:hover{
    /*transform: scale(1.2);*/
    transform: rotate(180deg);
}

.skill-icons .even:hover{
    /*transform: scale(1.2);*/
    transform: rotate(-180deg);
}

.skill-icons img{
    padding: 2.5vw;
    padding-left: 0;
    transition: 0.5s ease;
    -webkit-text-stroke: 2px white;
}


.project-header{
    padding-top: 100px;
    word-spacing: 1.2px;
    padding-bottom: 20px;
}


.song{
    display: none;
    align-items: center;
}

.song .fa-play{
    margin-right: 20px;
    border-right: 4px solid white;
}

.song:hover .fa-play{
    border-right: 4px solid black;
}


.grid-wrap{
    display: grid;
    grid-gap: 25px;
    padding-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.grid-wrap a{
    padding-bottom: 20px;
    transition: transform 0.5s ease;
}

.project{
    min-height: 250px;
    min-width: 250px;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.grid-wrap a h2{
    text-align: center;
    text-transform: capitalize;
    align-items: center;
    padding-top: 5px;
    font-size: 1.2rem;
    font-family: 'lobster two';
    background-color: #101010;
    color: #f5f5f5;
    border-radius: 0 0 10px 10px;
}

.grid-wrap a h2 img{
    height: 24px;
    width: 24px;
}

.grid-wrap a:hover{
    transform: scale(1.025);
}

footer{
    margin-top: 50px;
    margin-bottom: 5px;
    height: 200px;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}




@media only screen and (max-width: 900px) {
    .grid-wrap{
        grid-template-columns: 1fr 1fr;
    }

    .skillset{
        flex-direction: column-reverse;
    }

    .skill-icons{
        margin: 0 auto;
    }

    .skill-icons img{
        padding: 6vw;
    }

    .skillset-right{
        margin-bottom: 40px;
        min-width: 100%;
    }

    .skillset-right p{
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    
    .nav-menu {
        position: absolute;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
            z-index: 1;
    }

    .nav-link{
        font-size: 16px
    }

    .nav-link-chat i {
        display: none;
    }

    .nav-menu.active {
        left: 0;
        margin-top: 25px;
    }

    .nav-item {
        margin: 1.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


@media only screen and (max-width: 512px) {
    body{
        max-width: 95%;
    }

    .navbar{
        z-index: 1;
    }
    
    .nav-logo {
        font-size: 6vw;
        font-weight: 700;
    }
    
    .intro-left{
        margin-bottom: 20px;
    }

    .intro{
        flex-direction: column;
    }

    .intro-left{
        max-width: 100%;
    }

    .intro-left h1{
        font-size: 10vw;
        max-width: 100%;
    }

    .intro-left P{
        font-size: 5vw;
        max-width: 75%;
        margin: 5px 0;
    }

    button{
        display: flex;
        margin: 10px 0;
    }

    .skillset{
        flex-direction: column-reverse;
        padding: 0px;
    }

    .skill-icons{
        margin: 0 auto;
    }

    .skill-icons img{
        padding: 6vw;
    }

    .skillset-right{
        margin-bottom: 40px;
        padding: 0 20px;
    }

    .skillset-right h2{
        font-size: 30px;
        text-align: left;
        padding-bottom: 10px;   
    }

    .skillset-right p{
        font-size: 16px;
    }

    .grid-wrap{
        grid-template-columns: 1fr;
    }

}

@media (prefers-color-scheme: dark) {
    /* all your styles for dark mode here */

    body{
        background-color: #243b53;
        color: #fff;
    }

    @media only screen and (max-width: 800px) {
    
        .nav-menu {
            background-color: #243b53;
            box-shadow: none;
        }
        
    }

    .btn1{
        border: 1px solid #fff;
    }

    .btn1:before {
        background-color: #486581;
    }

    .btn1:hover:before {
        background-color: #486581;
    }

    .skillset-right h2, p{
        color: #fff;
    }    

}
